In [2]:
#Список для тестировани 
l = ['1','2','34','4','4']

Для того, чтобы вывести все из объекта нужно поставить *

In [4]:
print(*l)

1 2 34 4 4

Для того, чтобы вывести список через заяпятую:

In [3]:
print (", ".join(l))

1, 2, 34, 4, 4